{% extends "authentication/base.html" %}
{% load i18n bootstrap3 %}

{% block content %}
    <div class="panel-heading">
        <h3 class="panel-title">Ingresar a Projectium</h3>
    </div>
    <div class="panel-body">
        {% if form.errors and not form.non_field_errors %}
            <p class="errornote">
                {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}
                    {% trans "Please correct the errors below." %}{% endif %}
            </p>
        {% endif %}

        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <p class="errornote">
                    {{ error }}
                </p>
            {% endfor %}
        {% endif %}

        <form role="form" action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
            <fieldset>
                <div class="form-group">
                    {{ form.username.errors }}
                    {% bootstrap_field form.username layout='inline' %}
                </div>
                <div class="form-group">
                    {{ form.password.errors }}
                    {% bootstrap_field form.password layout='inline' %}
                    <input type="hidden" name="next" value="{{ next }}"/>
                </div>
                {% url 'admin_password_reset' as password_reset_url %}
                {% if password_reset_url %}
                    <div class="password-reset-link">
                        <a href="{{ password_reset_url }}">{% trans 'Forgotten your password or username?' %}</a>
                    </div>
                {% endif %}
                <a href="{% url 'authentication:password_reset' %}">Olvido su password?</a>
                <input type="submit" value="Login" class="btn btn-lg btn-success btn-block"/>
            </fieldset>
        </form>
    </div>
    <script type="text/javascript">
        document.getElementById('id_username').focus()
    </script>
{% endblock %}
