{% extends "authentication/base.html" %}
{% load bootstrap3 %}
{% block title %}Password Reset{% endblock %}
{% block content %}
    <div class="panel-heading">
        <h3 class="panel-title">Password Reset</h3>
    </div>
    <div class="panel-body">
        <p>Ha olvidado su password? Ingrese su direccion email y le enviaremos las instrucciones.</p>

        <form action="" method="post">
            {% csrf_token %}
            {{ form.email.errors }}
            {% bootstrap_form form layout='inline' %}
            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Reset"/>
        </form>
    </div>
{% endblock %}
