{% extends "authentication/base.html" %}

{% block title %}Password Reset{% endblock %}
{% block content %}
    <div class="panel-heading">
        <h3 class="panel-title">Password Reset</h3>
    </div>
    <div class="panel-body">
        <p>Se han enviado las instrucciones para cambiar su password. Le llegara enseguida.</p>

        <p>Si no ha recibido un email, asegurese que ingreso la direccion con la que se registro y
            revise su directorio de spam.</p>
        <a href="{% url 'authentication:login' %}" class="btn btn-lg btn-success btn-block">Login</a>
    </div>
{% endblock %}