{% extends 'project/base_table.html' %}
{% block title %}Roles{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'project:home' %}">Home</a></li>
    <li class="active">Roles</li>
{% endblock %}

{% block header %}Roles{% endblock %}
{% block before_table %}
    {% if perms.auth.add_group %}<p><a href="{% url 'project:rol_add' %}" class="fa fa-plus-circle">Agregar</a></p>{% endif %}
{% endblock %}
{% block thead %}
        <tr>
            <th width="70%">Nombre</th>
            <th>Ver</th>
            {% if perms.auth.change_group %}<th>Editar</th>{% endif %}
            {% if perms.auth.delete_group %}<th>Eliminar</th>{% endif %}
        </tr>
{% endblock %}
{% block tbody %}
        {% for r in roles %}
        <tr class="odd gradeX">
            <td>{{ r.name }}</td>
            <td ><a href="{% url 'project:rol_detail' r.id %}"><i class="fa fa-eye fa-fw"></i></a> </td>
            {% if perms.auth.change_group %}<td><a href="{% url 'project:rol_update' r.id %}"><i class="fa fa-pencil fa-fw"></i></a></td>{% endif %}
            {% if perms.auth.delete_group %}<td><a href="{% url 'project:rol_delete' r.id %}"><i class="fa fa-trash-o fa-fw"></i></a></td>{% endif %}
        </tr>
        {% endfor %}
{% endblock %}