{% extends "project/base.html" %}
{% load bootstrap3 %}
{% block title %}Formulario Rol{% endblock %}
{% block header %}Role{% endblock %}
{% block content %}

    <form action="" method="post" role="form">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-group">
            {{ form.name.errors }}
            {{ form.name.label_tag }}
            {{ form.name }}

        </div>
        <h3>Permissions</h3>
        <div class="row">
            <div class="form-group">
                <div class="col-lg-4">
                    {% bootstrap_field form.perms_proyecto %}
                </div>
                <div class="col-lg-4">
                    {% bootstrap_field form.perms_flujo %}
                </div>
                <div class="col-lg-4">
                    {% bootstrap_field form.perms_actividad %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-lg-4">
                    {% bootstrap_field form.perms_userstory %}
                </div>

                <div class="col-lg-4">
                    {% bootstrap_field form.perms_sprint %}
                </div>
            </div>
        </div>
        <div class="row">
             <div class="form-group">
                <div class="col-lg-4">
                    <h5>{{ form.perms_user.label_tag }}</h5>
                    {{ form.perms_user.errors }}
                    {{ form.perms_user }}
                </div>
                <div class="col-lg-4">
                    <h5>{{ form.perms_group.label_tag }}</h5>
                    {{ form.perms_group.errors }}
                    {{ form.perms_group }}
                </div>
             </div>
        </div>
        <input type="submit" value="{{ current_action }}" class="btn btn-default"/>
    </form>

{% endblock %}