{% extends "project/base.html" %}
{% load static %}
{% load bootstrap3 %}
{% block title %}Formulario Sprint{% endblock %}
{% block extrahead %}
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script type="text/javascript">
    $(function() {
        $('.activity').formset({
            prefix: '{{ formset.prefix }}',
            addText: 'Agregar actividad',
            deleteText: 'Eliminar'
        });
    })
    </script>
{% endblock %}
{% block header %}Sprint{% endblock %}
{% block content %}

    <form action="" method="post">
        {% csrf_token %}
        <div>
            {{ form.as_p }}
        </div>
        <fieldset>
            <legend> Agregar UserStory, Desarrollador y flujo</legend>
            {{ formset.management_form }}
            {{ formset.non_form_errors }}

            {%for form in formset%}
                {{ form.id }}
                <div  class="form-group activity">
                    {% bootstrap_form form %}

            </div>

            {% endfor %}
        </fieldset>
        <input type="submit" value="{{ current_action }}" class="btn btn-default"/>
    </form>

{% endblock %}


