{% extends "project/base.html" %}
{% load bootstrap3 %}
{% block title %}Formulario Sprint{% endblock %}
{% block header %}Sprint{% endblock %}
{% block content %}

    <form action="" method="post">
        {% csrf_token %}
    <div class="row">
        <div class="col-lg-6">
            {% bootstrap_field form.nombre %}
            {% bootstrap_field form.inicio %}
            {% bootstrap_field form.fin %}
            {% bootstrap_field form.flujo%}
            {% bootstrap_field form.userStory %}
            {% bootstrap_field form.desarrollador %}


        {% buttons submit='Guardar' reset="Reset" %}
            <a href="javascript:history.back()"><button type="button" class="btn btn-danger">Cancelar</button></a>
            {% endbuttons %}
        </div>
    </div>
    </form>

{% endblock %}
