{% extends 'project/base.html' %}
{% load guardian_tags %}
{% block title %}{{ sprint }}{% endblock %}
{% block header %}{{ sprint.nombre | title}} {% endblock %}
{% block content %}
    <ul class="list-inline">
        {% if "edit_sprint" in proyecto_perms %}<li><a href="#" class="fa fa-pencil"> Edit</a></li>{% endif %}
        {% if "remove_sprint" in proyecto_perms %}<li><a href="#" class="fa fa-eraser"> Delete</a></li>{% endif %}
    </ul>
    <p><strong>Nombre:</strong> {{ sprint.nombre }}</p>
    <p><strong>Proyecto Asociado:</strong> {{ sprint.proyecto }}</p>



{% endblock %}
