{% extends 'project/base.html' %}

{% block header %}Cambiar Password{% endblock %}
{% block content %}

    <div class="col-lg-6">
        <form action="" method="post">
            {% csrf_token %}
            <div>
                <p>Por favor ingrese su password antiguo, y luego ingrese su ingrese su nuevo password.</p>

                <fieldset class="module aligned wide">

                    <div class="form-row">
                        <label for="id_old_password" class="required">Password antiguo:</label><input
                            id="id_old_password" name="old_password" type="password"/>
                    </div>

                    <div class="form-row">
                        <label for="id_new_password1" class="required">Password nuevo:</label><input
                            id="id_new_password1" name="new_password1" type="password"/>
                    </div>

                    <div class="form-row">
                        <label for="id_new_password2" class="required">Password nuevo (confirmar):</label><input
                            id="id_new_password2" name="new_password2" type="password"/>
                    </div>
                </fieldset>

                <div class="submit-row">
                    <input type="submit" value="Cambiar mi password" class="btn btn-lg btn-success btn-block"/>
                </div>

                <script type="text/javascript">document.getElementById("id_old_password").focus();</script>
            </div>
        </form>
    </div>
{% endblock %}