{% extends 'project/base_table.html' %}
{% load staticfiles %}
{% block title %}Flujos{% endblock %}
{% block header %}Flujos{% endblock %}
{% block before_table %}
    <h4><strong>Proyecto: </strong><td>{{ view.project }}</td></h4>
    {% if "create_flujo" in proyecto_perms %}<p><a href="{% url 'project:flujo_add' view.kwargs.project_pk %}" class="fa fa-plus-circle"> Agregar</a></p>{% endif %}
    {% if "create_flujo" in proyecto_perms %}<p><a href="{% url 'project:flujo_addfromtemplate' view.kwargs.project_pk %}" class="fa fa-clipboard"> Crear desde plantilla</a></p>{% endif %}
{% endblock %}
{% block thead %}
    <tr>
        <th>Nombre</th>
        <th>Actividades</th>
        <th>Ver</th>
        {% if "edit_flujo" in proyecto_perms %}<th>Editar</th>{% endif %}
        {% if "remove_flujo" in proyecto_perms %}<th>Eliminar</th>{% endif %}
    </tr>
{% endblock %}
{% block tbody %}
    {% for f in flujos %}
    <tr class="odd gradeX">
        <td>{{ f.nombre }}</td>
        <td>{{ f.actividad_set.count }}</td>
        <td ><a href="{% url 'project:flujo_detail' f.id %}"><i class="fa fa-eye fa-fw"></i></a> </td>
        {% if "edit_flujo" in proyecto_perms %}<td><a href="{% url 'project:flujo_update' f.id %}"><i class="fa fa-pencil fa-fw"></i></a></td>{% endif %}
        {% if "remove_flujo" in proyecto_perms %}<td><a href="{% url 'project:flujo_delete' f.id %}"><i class="fa fa-trash-o fa-fw"></i></a></td>{% endif %}
    </tr>
    {% endfor %}
{% endblock %}