{% extends 'project/base_table.html' %}
{% load guardian_tags %}
{% block title %}{{ flujo }}{% endblock %}
{% block header %}{{ flujo.nombre | title }} {% endblock %}
{% block before_table %}
    <ul class="list-inline">
        {% get_obj_perms user for flujo.proyecto as "proyecto_perms" %}
        {% if "edit_flujo" in proyecto_perms %}
            <li><a href="{% url 'project:flujo_update'  flujo.id %}" class="fa fa-pencil"> Edit</a></li>{% endif %}
        {% if "remove_flujo" in proyecto_perms %}
            <li><a href="{% url 'project:flujo_delete'  flujo.id %}" class="fa fa-eraser"> Delete</a></li>{% endif %}
    </ul>
    <p><strong>Proyecto Asociado:</strong> {{ flujo.proyecto }}</p>
{% endblock %}
{% block thead %}
    {% for a in flujo.actividad_set.all %}
        <th class="text-center">{{ a }}</th>
    {% endfor %}
{% endblock %}
{% block tbody %}
    {% for a in flujo.actividad_set.all %}
        <td>
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <th class="text-center">Todo</th>
                        <th class="text-center">Doing</th>
                        <th class="text-center">Done</th>
                    </thead>
                    {% for u in userstory %}
                             {% if  u.actividad == a %}
                                 <tbody>
                                 <tr>
                                     <td>
                                     {% if u.estado_actividad == 0 %}
                                         <a href="{% url 'project:userstory_detail' u.id %}" >{{ u.nombre }}</a>
                                     {% endif %}
                                     </td>
                                     <td>
                                     {% if u.estado_actividad == 1 %}
                                         <a href="{% url 'project:userstory_detail' u.id %}" >{{ u.nombre }}</a>
                                     {% endif %}
                                     </td>
                                     <td>
                                         {% if u.estado_actividad == 2 %}
                                             <a href="{% url 'project:userstory_detail' u.id %}" >{{ u.nombre }}</a>
                                         {% endif %}

                                     </td>
                                 </tr>
                                 </tbody>
                             {% endif %}
                    {% endfor %}
                </table>
        </td>
    {% endfor %}
{% endblock %}
{% block after_table %}
            <p><a class="fa fa-step-backward" href="{% url 'project:flujo_list' flujo.proyecto.id %}"> Volver a
                Flujos</a></p>
{% endblock %}