{% extends 'project/base.html' %}
{% load guardian_tags %}
{% block title %}{{ flujo }}{% endblock %}
{% block header %}{{ flujo.nombre | title}} {% endblock %}
{% block content %}
    <ul class="list-inline">
        {% get_obj_perms user for flujo.proyecto as "proyecto_perms" %}
        {% if "edit_flujo" in proyecto_perms %}<li><a href="{% url 'project:flujo_update'  flujo.id %}" class="fa fa-pencil"> Edit</a></li>{% endif %}
        {% if "remove_flujo" in proyecto_perms %}<li><a href="{% url 'project:flujo_delete'  flujo.id %}" class="fa fa-eraser"> Delete</a></li>{% endif %}
    </ul>
    <p><strong>Proyecto Asociado:</strong> {{ flujo.proyecto }}</p>

    <div class="dataTable_wrapper">
    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
            <tr>
                {% for a in actividad %}
                <th>{{ a.name }}</th>
             {% endfor %}
            </tr>
        </thead>
        <tbody>
        <tr class="odd gradeX">
             {% for a in actividad %}
                <td></td>
             {% endfor %}
            </tr>
        </tbody>
    </table>
    <p><a class="fa fa-step-backward" href="{% url 'project:flujo_list' flujo.proyecto.id %}"> Volver a Flujos</a></p>
</div>
{% endblock %}
