{% extends 'project/base_table.html' %}
{% load guardian_tags %}
{% block title %}{{ flujo }}{% endblock %}
{% block header %}{{ flujo.nombre | title }} {% endblock %}
{% block before_table %}
    <ul class="list-inline">
        {% get_obj_perms user for flujo.proyecto as "proyecto_perms" %}
        {% if "edit_flujo" in proyecto_perms %}
            <li><a href="{% url 'project:flujo_update'  flujo.id %}" class="fa fa-pencil"> Edit</a></li>{% endif %}
        {% if "remove_flujo" in proyecto_perms %}
            <li><a href="{% url 'project:flujo_delete'  flujo.id %}" class="fa fa-eraser"> Delete</a></li>{% endif %}
    </ul>
    <p><strong>Proyecto Asociado:</strong> {{ flujo.proyecto }}</p>
{% endblock %}
{% block thead %}
    {% for a in flujo.actividad_set.all %}
        <th class="text-center">{{ a }}</th>
    {% endfor %}
{% endblock %}
{% block tbody %}
    {% for a in flujo.actividad_set.all %}
        <td>
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <th class="text-center">Todo</th>
                        <th class="text-center">Doing</th>
                        <th class="text-center">Done</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>U1</td>
                            <td>U2</td>
                            <td>U3</td>
                        </tr>
                        <tr>
                            <td>U3</td>
                            <td>U4</td>
                            <td>U5</td>
                        </tr>
                        <tr>
                            <td>U5</td>
                            <td>U7</td>
                            <td>U8</td>
                        </tr>
                    </tbody>
                </table>
            </td>
    {% endfor %}
{% endblock %}
{% block after_table %}
            <p><a class="fa fa-step-backward" href="{% url 'project:flujo_list' flujo.proyecto.id %}"> Volver a
                Flujos</a></p>
{% endblock %}