{% extends "project/base.html" %}
{% load bootstrap3 %}
{% block title %}Formulario Flujo{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'project:home' %}">Home</a></li>
    <li><a href="{% url 'project:project_list' %}">Proyectos</a></li>
        <li><a href="{{ view.proyecto.get_absolute_url }}">{{ view.proyecto }}</a></li>
        <li><a href="{% url 'project:flujo_list' view.proyecto.id %}">Flujos</a></li>
    <li class="active">Crear Desde Plantilla</li>
{% endblock %}

{% block header %}Flujo{% endblock %}
{% block content %}

    <form action="" method="post">
        {% csrf_token %}
    <div class="row">
        <div class="col-lg-6">
            {% bootstrap_form form %}


        {% buttons submit='Guardar' reset="Reset" %}
            <a href="javascript:history.back()"><button type="button" class="btn btn-danger">Cancelar</button></a>
            {% endbuttons %}
        </div>
    </div>
    </form>

{% endblock %}


