{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
        <link href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
        <style>
            @page {
                size: A4; margin: 1cm;
                @bottom-left { content: "Reporte de Burndown del Proyecto {{ proyeto }}"}
                @bottom-right {  content: "Página " counter(page) " de " counter(pages) }
            }
        </style>
</head>
<body>
<div class="content">
<h2>Tiempo Estimado y Estado de Ejecución </h2>
<h3>Proyecto: {{ proyecto }}</h3>
<hr />

{% for g in graph %}
    {% if forloop.counter != 1 %}
        <p style="page-break-before: always" ></p> <!-- Salto de página para weasyprint -->
    {% endif %}
    <h3>Sprint {{ forloop.counter }}</h3>
    <img alt="Embedded Image" src="data:image/png;base64,{{ g }}">
    <br>
{% endfor %}
</div>
</body>
</html>