{% extends "project/base.html" %}
{% block title %}Formulario Flujo{% endblock %}
{% block header %}Flujo{% endblock %}
{% block content %}

    <form action="" method="post">
        {% csrf_token %}
        <div>
            {{ form.as_p }}
        </div>
        <fieldset>
            <legend> Actividades</legend>
            {{ actividad_form.management_form }}
            {{ actividad_form.non_form_errors }}
            {%for form in actividad_form%}
            <div>
                {{ form.name.errors }}
                {{ form.name.label_tag }}
                {{ form.name }}
                {% if actividad_form.can_order %}
                {{ form.ORDER }}
                {% endif %}
            </div>
            {% endfor %}
        </fieldset>
        <input type="submit" value="{{ current_action }}" class="btn btn-default"/>
    </form>

{% endblock %}