{% extends "project/base.html" %}
{% block title %}Formulario Flujo{% endblock %}
{% block header %}Flujo{% endblock %}
{% block content %}

    <form action="" method="post">
        {% csrf_token %}
        <div>
            {{ form.as_p }}
        </div>
        <fieldset>
            <legend> Actividades</legend>

            <div  class="form-group">

                {{ actividad_form.management_form }}
                {{ actividad_form.non_form_errors }}
                <div id ="actividad-form-container">
                {%for form in actividad_form%}
                    <div id=" actividad-{{ forloop.counter0 }}">
                    {{ form.id }}
                    {{ form.name.errors }}
               <label> {{ form.name.label_tag }}</label>
               {{ form.name }}
                {% if actividad_form.can_order %}
                {{ form.ORDER }}
                {% endif %}
                    </div>
                {% endfor %}
            </div>
            <a href="#" class="fa fa-plus-circle" id="add-actividad">Agregar Actividad</a>
            </div>
        </fieldset>
        <input type="submit" value="{{ current_action }}" class="btn btn-default"/>
    </form>

{% endblock %}

{% block extra_js %}

    <!-- jQuery -->
<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script type="text/javascript" charset="utf8" src="//code.jquery.com/underscore.js"></script>





<script type="text/html" id="actividad-template">
  <div id="actividad-<%= id %>">
    <label for="id_actividad-<%= id %>-name">Actividad Name:</label>
    <input id="id_actividad-<%= id %>-name" type="text" name="actividad-<%= id %>-name" maxlength="100">
    <input type="hidden" name="actividad-<%= id %>-flujo" id="id_actividad-<%= id %>-flujo">
    <input type="hidden" name="actividad-<%= id %>-id" id="id_actividad-<%= id %>-id">
  </div>
</script>

<script>
$('.fa-plus-circle').click(function(ev){
    ev.preventDefault();
    var count = $('#actividad-form-container').children().length;
    var tmplMarkup = $('#actividad-template').html();
    var compiledTmpl = _.template(tmplMarkup, { id : count });
    $('div#actividad-form-container').append(compiledTmpl);
    // update form count
    $('#id_actividad-TOTAL_FORMS').attr('value', count+1);
  });
</script>
{% endblock %}
