{% extends 'project/base.html' %}
{% block title %}Ver Flujo{% endblock %}
{% block header %}{{ flujo.nombre | title}} {% endblock %}
{% block content %}
<p>Nombre: {{ flujo.nombre }}</p>
    <h3>Proyecto</h3>
<p>{{ flujo.proyecto }}</p>
    <div class="dataTable_wrapper">
    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
            <tr>
                {% for a in actividad %}
                <td>{{ a.name }}</td>
             {% endfor %}
            </tr>
        </thead>
        <tbody>
        <tr class="odd gradeX">
             {% for a in actividad %}
                <td></td>
             {% endfor %}
            </tr>

        </tbody>
    </table>
</div>
{% endblock %}
