{% extends "project/base.html" %}
{% load bootstrap3 %}
{% block title %}Formulario Proyecto{% endblock %}
{% block header %}Proyecto{% endblock %}
{% block content %}
    <style>
        .empty-form {
            display: none;
        }
    </style>
    <div class="row">
        <form role="form" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                    {% bootstrap_field form.nombre_corto %}
                    {% bootstrap_field form.nombre_largo %}
                    {% bootstrap_field form.estado %}
                    {% bootstrap_field form.inicio %}
                    {% bootstrap_field form.fin %}
                    </div>
                    <h3>Miembros del Equipo</h3>
                    {{ formset.management_form }}
                    <div class="row top-buffer team-members">
                        <div class="row empty-form">
                                {% bootstrap_form formset.empty_form %}
                        </div>
                        {% for subform in formset %}
                            <div id="teammember-{{ forloop.counter0 }}">
                                {{ subform.id }}
                                {% bootstrap_field subform.usuario %}
                                {% bootstrap_field subform.roles %}
                            </div>
                        {% endfor %}
                    </div>
                    <button type="button" class="btn btn-primary adder" data-action="add-formset">Agregar miembro</button>
                </div>
                <div class="col-lg-6">
                    {% bootstrap_field form.duracion_sprint %}
                    {% bootstrap_field form.descripcion %}
                </div>
            </div>

            {% buttons submit='Guardar' reset="Reset" %}
            <a href="javascript:history.back()"><button type="button" class="btn btn-danger">Cancelar</button></a>
            {% endbuttons %}
        </form>
    </div>
{% endblock %}
{% block extra_js %}
    <script type="text/javascript">
    $('.adder').click(function(ev){
        var formset = $('.team-members').children('div').djangoFormset({
            deleteButtonText : 'Borrar'
        });
        formset.addForm();
    });
</script>

{% endblock %}