{% extends "project/base.html" %}
{% load bootstrap3 %}
{% block title %}Formulario Proyecto{% endblock %}
{% block header %}Proyecto{% endblock %}
{% block content %}
    <div class="row">
        <form role="form" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-6">
                    {% bootstrap_field form.nombre_corto %}
                    {% bootstrap_field form.nombre_largo %}
                    {% bootstrap_field form.estado %}
                    {% bootstrap_field form.inicio %}
                    {% bootstrap_field form.fin %}
                </div>
                <div class="col-lg-6">
                    {% bootstrap_field form.duracion_sprint %}
                    {% bootstrap_field form.descripcion %}
                </div>
            </div>
            {% buttons submit='Guardar' reset="Reset" %}
            <a href="javascript:history.back()"><button type="button" class="btn btn-danger">Cancelar</button></a>
            {% endbuttons %}
        </form>
    </div>
{% endblock %}