{% extends "project/base.html" %}
{% load bootstrap %}
{% block title %}Formulario Usuario{% endblock %}
{% block header %}Usuario{% endblock %}
{% block content %}


<form role="form" method="post">
    <legend>Crear Nuevo Usuario</legend>
    {% csrf_token %}
    {{ form|bootstrap }}
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Guardar</button>
      <a href="javascript:history.back()"><button type="button" class="btn btn-danger">Cancelar</button></a>
    </div>
</form>

{% endblock %}