{% extends 'project/base.html'%}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Usuarios</h1>
            <ul>
                {% for u in users %}
                    <li><a href="{% url 'project:user_detail' u.id %}">{{ u.username }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->
{% endblock %}