{% extends 'project/base.html' %}

{% block header %}{{ usuario.username | title}}{% endblock %}
{% block content %}
<h3>My Projects</h3>
<ul>
{% for p in projects %}
    <li><a href="{% url 'project:project_detail' p.id %}">{{ p.nombre_corto }}</a></li>
{% endfor %}
</ul>
     <div class="row">
    <p><a href="{% url 'project:user_update' usuario.id %}" class="fa fa-pencil">Editar</a></p>
    <p><a href="{% url 'project:user_delete' usuario.id %}" class="fa fa-eraser">Eliminar</a></p>
    </div>
{% endblock %}