{% extends 'project/base.html' %}
{% block title %}{{ userstory.nombre }}{% endblock %}
{% block header %}{{ userstory.nombre | title}}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-3"><p><strong>Fecha: </strong>{{ version.revision.date_created }}</p></div>
        <div class="col-lg-3"><p><strong>Usuario: </strong>{{ version.revision.user }}</p></div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="well">
                <p><strong>Prioridad: </strong>{{ userstory.prioridad }}</p>
                <p><strong>Valor Negocio: </strong>{{ userstory.valor_negocio }}</p>
                <p><strong>Valor Tecnico: </strong>{{ userstory.valor_tecnico }}</p>
                <p><strong>Tiempo Estimado: </strong>{{ userstory.tiempo_estimado }}</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="well">
                <h4>Descripcion</h4>
                <p>{{ userstory.descripcion }}</p>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-success">Revertir</button>
    <a href="javascript:history.back()"><button type="button" class="btn btn-danger">Cancelar</button></a>
{% endblock %}
