{% extends 'project/base_table_js.html' %}
{% block title %}Usuarios{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'project:home' %}">Home</a></li>
    <li class="active">Usuarios</li>
{% endblock %}

{% block header %}Usuarios{% endblock %}

{% block before_table %}
    {% if perms.auth.add_user %}<p><a href="{% url 'project:user_add' %}" class="fa fa-plus-circle">Agregar</a></p>{% endif %}
{% endblock %}
{% block thead %}
    <tr>
        <th>Username</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Estado</th>
        <th>Ultimo Login</th>
        <th>Ver</th>
        {% if perms.auth.change_user %}<th>Editar</th>{% endif %}
        {% if perms.auth.delete_user %}<th>Eliminar</th>{% endif %}
    </tr>
{% endblock %}
{% block tbody %}
    {% for u in users %}
    <tr class="odd gradeX">
        <td>{{ u.username }}</td>
        <td>{{ u.first_name }}</td>
        <td>{{ u.last_name }}</td>
        <td>{% if u.is_active %}Activo{% else %}Desactivado{% endif %}</td>
        <td>{{ u.last_login }}</td>
        <td ><a href="{% url 'project:user_detail' u.id %}"><i class="fa fa-eye fa-fw"></i></a> </td>
        {% if perms.auth.change_user %}<td><a href="{% url 'project:user_update' u.id %}"><i class="fa fa-pencil fa-fw"></i></a></td>{% endif %}
        {% if perms.auth.delete_user %}<td><a href="{% url 'project:user_delete' u.id %}"><i class="fa fa-trash-o fa-fw"></i></a></td>{% endif %}
    </tr>
    {% endfor %}
{% endblock %}