{% extends 'project/base.html' %}
{% block title %}Ver Usuario{% endblock %}
{% block header %}{{ usuario.first_name | title}} {{ usuario.last_name }}{% endblock %}
{% block content %}
    <ul class="list-inline">
        {% if perms.auth.change_user %}<li><a href="{% url 'project:user_update' usuario.id %}" class="fa fa-pencil"> Edit</a></li>{% endif %}
        {% if perms.auth.delete_user %}<li><a href="{% url 'project:user_delete' usuario.id %}" class="fa fa-eraser"> Delete</a></li>{% endif %}
    </ul>
<p><strong>Nombre:</strong> {{ usuario.first_name }}</p>
<p><strong>Apellido:</strong> {{ usuario.last_name }}</p>
<p><strong>Username:</strong> {{ usuario.username }}</p>
<p><strong>Email:</strong> {{ usuario.email }}</p>
<h3>Proyectos</h3>
<ul>
{% for p in projects %}
    <li><a href="{% url 'project:project_detail' p.proyecto_id %}">{{ p.proyecto.nombre_corto }} - {{ p.roles.all|join:", " }}</a></li>
{% endfor %}
</ul>
    <h3>User Stories</h3>
    <!-- Buscador -->
    <form id="buscador" action="" class="styled" method="post">
        <div class="form-group">
            <input type="text" placeholder="Buscar User Story" id="filtro" value="" />
        </div>
    </form>

    <div id="userstoriespanels">
        {% for u in usuario.userstory_set.all %}
            <div class="col-lg-3">
                <div class="panel panel-{% if u.prioridad == 0 %}green{% elif u.prioridad == 1 %}yellow{% else %}red{% endif %}">
                    <div class="panel-heading">
                        <div class="panel-title"> <a href="{% url 'project:userstory_detail' u.id %}" style="color:#ffffff;">{{ u.nombre }}</a></div>
                    </div>
                    <div class="panel-body">
                        <strong>Estado actual: </strong>{{ u.get_estado_display }}<br/>
                        <strong>Desarrollador: </strong>
                        {% if u.desarrollador %}
                            <a href="{% url 'project:user_detail' u.desarrollador_id %}">{{ u.desarrollador }}</a>
                        {% else %}
                            Ninguno
                        {% endif %}
                        </br>
                        {% if u.actividad %}
                            <strong>Flujo: </strong><a href="{% url 'project:flujo_detail' u.actividad.flujo_id %}">{{ u.actividad.flujo }}</a><br/>
                            <strong>Actividad: </strong>{{ u.actividad }} - {{ u.get_estado_actividad_display }}<br/>
                        {% endif %}
                            <strong>Prioriodad: </strong>{{ u.get_prioridad_display }}
                    </div>
                    <div class="panel-footer">
                        <a href="{% url 'project:userstory_detail' u.id %}"><i class="fa fa-eye fa-fw"></i></a>
                        {% if "edit_userstory" in proyecto_perms %}<a href="{% url 'project:userstory_update' u.id %}"><i
                                class="fa fa-pencil fa-fw"></i></a>{% endif %}
                        {% if "remove_userstory" in proyecto_perms %}<a href="{% url 'project:userstory_delete' u.id %}"><i
                                class="fa fa-trash-o fa-fw"></i></a>{% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block extra_js %}
    <script type="text/javascript">
        $(document).ready(function(){
        $("#filtro").keyup(function(){


            var filtro = $(this).val(), cuenta = 0;

            // Loop through the comment list
            $("#userstoriespanels > div").each(function(){


                if ($(this).text().search(new RegExp(filtro, "i")) < 0) {
                    $(this).fadeOut();


                } else {
                    $(this).show();
                    cuenta++;
                }
            });

            // Actualizar el contador
            var cantItems = cuenta;
        });
    });
    </script>

{% endblock %}