{% extends 'project/base_table_js.html' %}

{% block title %}{{ userstory.nombre|title }}{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'project:home' %}">Home</a></li>
    <li><a href="{% url 'project:project_list' %}">Proyectos</a></li>
    <li><a href="{{ userstory.proyecto.get_absolute_url }}">{{ userstory.proyecto }}</a></li>
    <li><a href="{% url 'project:product_backlog' userstory.proyecto_id %}">User Stories</a></li>
    <li><a href="{{ userstory.get_absolute_url }}">{{ userstory }}</a></li>
    <li class="Active">Historial de Avances</li>
{% endblock %}

{% block header %}{{ userstory.nombre|title }}{% endblock %}

{% block before_table %}
    <h3>Historial de Avances</h3>
{% endblock %}
{% block thead %}
    <tr>
        <th>Fecha</th>
        <th>Tiempo Trabajado</th>
        <th>Mensaje</th>
        <th>Desarrollador</th>
        <th>Ver</th>
    </tr>
{% endblock %}
{% block tbody %}
    {% for n in notas %}
    <tr>
        <td>{{ n.fecha }}</td>
        <td>{{ n.horas_a_registrar }}</td>
        <td>{{ n.mensaje|truncatechars:20 }}</td>
        <td>{{ n.desarrollador }}</td>
        <td><a href="{% url 'project:nota_detail' n.id %}"><i class="fa fa-eye"></i></a></td>
    </tr>
    {% endfor %}
{% endblock %}

{% block after_table %}
    <p><a class="fa fa-step-backward" href="{% url 'project:userstory_detail' userstory.id %}"> Volver a User Story</a></p>
{% endblock %}