{% extends 'project/base.html' %}
{% block title %}Avance - {{ nota.user_story }}{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'project:home' %}">Home</a></li>
    <li><a href="{% url 'project:project_list' %}">Proyectos</a></li>
    <li><a href="{{ nota.user_story.proyecto.get_absolute_url }}">{{ nota.user_story.proyecto }}</a></li>
    <li><a href="{% url 'project:product_backlog' nota.user_story.proyecto_id %}">User Stories</a></li>
    <li><a href="{{ nota.user_story.get_absolute_url }}">{{ nota.user_story }}</a></li>
    <li><a href="{% url 'project:nota_list' nota.user_story_id %}">Historial de Avances</a></li>
    <li class="Active">{{ nota.fecha }}</li>
{% endblock %}

{% block header %}{{ nota.user_story }}{% endblock %}

{% block content %}
    <p><strong>Proyecto Asociado: </strong><a href="{{ nota.user_story.proyecto.get_absolute_url }}">{{ nota.user_story.proyecto }}</a></p>
    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Avance
                </div>
                <div class="panel-body">
                    <p><strong>Desarrollador:</strong><a href="{% url 'project:user_detail' nota.desarrollador_id %}"> {{ nota.desarrollador }}</a></p>
                    <p><strong>Fecha:</strong> {{ nota.fecha|date }}</p>
                    <p><strong>Hora:</strong> {{ nota.fecha|time }}</p>
                    <p><strong>Estado de User Story: </strong>{{ nota.get_estado_display }}</p>
                    <p><strong>Tiempo trabajado:</strong> {{ nota.horas_a_registrar }}</p>
                    <p><strong>Tiempo registrado hasta la fecha:</strong> {{ nota.tiempo_registrado }}</p>
                    <p><strong>Sprint: </strong><a href="{% url 'project:sprint_detail' nota.sprint_id %}">{{ nota.sprint }}</a></p>
                    <p><strong>Flujo: </strong><a href="{% url 'project:flujo_detail' nota.actividad.flujo_id %}">{{ nota.actividad.flujo }}</a></p>
                    <p><strong>Actividad: </strong>{{ nota.actividad }} | {{ nota.get_estado_actividad_display }}</p>
               </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="well">
                <h4>Mensaje</h4>
                <p>{{ nota.mensaje }}</p>
            </div>
        </div>
    </div>
    <p><a class="fa fa-step-backward" href="{% url 'project:nota_list' nota.user_story_id %}"> Volver a Avances</a></p>
{% endblock %}
