{% extends 'project/base.html' %}
{% load guardian_tags %}
{% block title %}{{ project.nombre_corto }}{% endblock %}

{% block header %}{{ project.nombre_corto }}{% endblock %}
{% block content %}
    {% get_obj_perms user for project as "proyecto_perms" %}
    <h3>{{ project.nombre_largo }}</h3>
    <ul class="list-inline">
        {% if 'change_proyecto' in proyecto_perms %}<li><a href="{% url 'project:project_update' project.id %}" class="fa fa-pencil"> Edit</a></li>{% endif %}
        {% if 'delete_proyecto' in proyecto_perms %}<li><a href="{% url 'project:project_delete' project.id %}" class="fa fa-eraser"> Delete</a></li>{% endif %}
        <a href="{% url 'project:product_backlog' project.id %}"><i class="fa fa-file fa-fw"></i> Ver Product Backlog</a>
        {% if 'aprobar_userstory' in proyecto_perms %}<a href="{% url 'project:pending_userstories' project.id %}"><i class="fa fa-file fa-fw"></i> Aprobar User Stories Completados ({{ pending_us }} pendiente{{ pending_us | pluralize }})</a>{% endif %}
    </ul>

    <div class="row">
        <div class="col-lg-4">
            <div class="well">
                <p><strong>Estado:</strong> {{ project.get_estado_display }}</p>

                <p><strong>Inicio:</strong> {{ project.inicio|date }}</p>

                <p><strong>Fin:</strong> {{ project.fin|date }}</p>

                <p><strong>Duracion de Sprints:</strong> {{ project.duracion_sprint }}</p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="well well-sm">
                <h4>Descripcion</h4>

                <p>{{ project.descripcion }}</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <h4 class="list-group-item-heading">
                <a href="{% if perms.project.change_proyecto %}
                {% url 'project:project_update' project.id %}#equipo
                {% else %}#{% endif %}">Equipo</a>
            </h4>
            <div class="list-group">
                {% for m in team %}
                    <a href="{% url 'project:user_detail' m.usuario_id %}" class="list-group-item">
                        {{ m.usuario.get_full_name }}
                        {% for r in m.roles.all %}
                            <span class="badge" data-toggle="tooltip" data-placement="left"
                              title="Rol">{{ r }}</span>
                        {% endfor %}
                    </a>
                {% endfor %}
            </div>
        </div>

        <div class="col-lg-4">
            <h4 class="list-group-item-heading"><a href="{% url 'project:sprint_list' project.id %}">Sprints</a></h4>
            <div class="list-group">
                {% for s in sprints %}
                    <a href="{% url 'project:sprint_detail' s.id %}" class="list-group-item">{{ s.nombre }}
                        <span class="badge" data-toggle="tooltip" data-placement="right"
                              title="Fecha de Inicio">{{ s.userstory_set.count }}</span>
                    </a>
                {% endfor %}
            </div>
        </div>

        <div class="col-lg-4">
            <h4 class="list-group-item-heading"><a href="{% url 'project:flujo_list' project.id %}">Flujos</a></h4>

            <div class="list-group">
                {% for f in flows %}
                    <a href="{% url 'project:flujo_detail' f.id %}" class="list-group-item">{{ f.nombre }}
                        <span class="badge" data-toggle="tooltip" data-placement="right"
                              title="Actividades">{{ f.actividad_set.count }}</span>
                    </a>
                {% endfor %}
            </div>
        </div>
{% endblock %}