{% extends 'project/base_table_js.html' %}
{% load guardian_tags %}
{% block title %}Proyectos{% endblock %}
{% block header %}Proyectos{% endblock %}

{% block before_table %}
    <ul class="list-inline">
        {% if perms.project.add_proyecto %}<li><a href="{% url 'project:project_create' %}"><i class="fa fa-plus-circle"></i> Agregar</a></li>{% endif %}
        <li><a href="{% url 'project:project_list_cancelled' %}"><i class="fa fa-ban"></i> Proyectos Cancelados</a></li>
    </ul>
{% endblock %}
{% block thead %}
            <th>Nombre corto</th>
            <th>Nombre Largo</th>
            <th>Estado</th>
            <th>Inicio</th>
            <th>Fin</th>
            <th>Ver</th>
            <th>Editar</th>
            <th>Eliminar</th>
{% endblock %}
{% block tbody %}
        {% for p in projects %}
            {% get_obj_perms user for p as "proyecto_perms" %}
            <a href="{% url 'project:rol_list' %}">
           <tr class="odd gradeX">
                <td> {{ p.nombre_corto|title }}</td>
                <td>{{ p.nombre_largo|title }}</td>
                <td>{{ p.get_estado_display }}</td>
                <td>{{ p.inicio|date:"SHORT_DATE_FORMAT" }}</td>
                <td>{{ p.fin|date:"SHORT_DATE_FORMAT" }}</td>
                {% if "view_project" in proyecto_perms %}
                    <td><a href="{{ p.get_absolute_url }}"><i class="fa fa-eye fa-fw"></i></a></td>
                {% else %}
                    <td><i class="fa fa-eye fa-fw"></i></td>
                {% endif %}
                {% if "change_proyecto" in proyecto_perms %}
                    <td><a href="{% url 'project:project_update' p.id %}"><i class="fa fa-pencil fa-fw"></i></a>
                    </td>
                {% else %}
                    <td><i class="fa fa-pencil fa-fw"></i></td>
                {% endif %}
                {% if "delete_proyecto" in proyecto_perms %}
                    <td><a href="{% url 'project:project_delete' p.id %}"><i
                            class="fa fa-trash-o fa-fw"></i></a></td>
                {% else %}
                    <td><i class="fa fa-trash-o fa-fw"></i></td>
                {% endif %}
            </tr>
        {% endfor %}
{% endblock %}