{% extends "project/base.html" %}
{% load bootstrap3 %}
{% load guardian_tags %}

{% block breadcrumbs %}
    <li><a href="{% url 'project:home' %}">Home</a></li>
    <li><a href="{% url 'project:project_list' %}">Proyectos</a></li>
    <li><a href="{{ userstory.proyecto.get_absolute_url }}">{{ userstory.proyecto }}</a></li>
    <li><a href="{% url 'project:product_backlog' userstory.proyecto_id %}">User Stories</a></li>
    <li><a href="{{ object.get_absolute_url }}">{{ userstory }}</a></li>
    <li class="active">Cancelar</li>
{% endblock %}

{% block title %}Cancelar User Story{% endblock %}
{% block header %}Cancelar User Story{% endblock %}
{% block content %}


    <p><strong>Desea Cancelar el User Story: {{ userstory.nombre }} ? </strong></p>
    <form action="" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-4">
                {% bootstrap_form form layout="inline" %}
            </div>
        </div>
        {% buttons submit='Si' reset="Reset" %}
            <a href="javascript:history.back()">
                <button type="button" class="btn btn-danger">No</button>
            </a>
        {% endbuttons %}
    </form>
    </div>
{% endblock %}
