{% extends 'project/base_table_js.html' %}
{% load staticfiles %}
{% load guardian_tags %}
{% block title %}{{ view.project }} - Product Backlog{% endblock %}
{% block header %}Product Backlog{% endblock %}
{% block before_table %}
    <h4><strong>Proyecto: </strong><td>{{ view.project }}</td></h4>

    {% if "create_userstory" in proyecto_perms %}<p><a href="{% url 'project:userstory_add' view.project.pk %}" class="fa fa-plus-circle"> Agregar</a></p>{% endif %}

{% endblock %}
{% block thead %}
    <tr>
        <th>Nombre</th>
        <th>Ver</th>
        <th>Editar</th>
        {% if "remove_userstory" in proyecto_perms %}<th>Eliminar</th>{% endif %}
    </tr>
{% endblock %}
{% block tbody %}
    {% for us in userstories %}
        {% get_obj_perms user for us as "us_perms" %}
    <tr class="odd gradeX">
        <td>{{ us.nombre }}</td>
        <td ><a href="{% url 'project:userstory_detail' us.id %}"><i class="fa fa-eye fa-fw"></i></a> </td>
        {% if "edit_userstory" in proyecto_perms or 'edit_my_userstory' in us_perms %}
            <td><a href="{% url 'project:userstory_update' us.id %}"><i class="fa fa-pencil fa-fw"></i></a></td>
        {% else %}
            <td><i class="fa fa-pencil fa-fw"></i></td>
        {% endif %}
        {% if "remove_userstory" in proyecto_perms %}<td><a href="{% url 'project:userstory_delete' us.id %}"><i class="fa fa-trash-o fa-fw"></i></a></td>{% endif %}
    </tr>
    {% endfor %}
{% endblock %}