{% extends 'project/base.html' %}
{% load guardian_tags %}
{% block title %}{{ userstory }}{% endblock %}
{% block header %}{{ userstory.nombre | title}} {% endblock %}
{% block content %}
    <ul class="list-inline" xmlns="http://www.w3.org/1999/html">
        {% get_obj_perms user for userstory.proyecto as "proyecto_perms" %}
        {% if "edit_userstory" in proyecto_perms %}<li><a href="{% url 'project:userstory_update'  userstory.id %}" class="fa fa-pencil"> Edit</a></li>{% endif %}
        {% if "remove_userstory" in proyecto_perms %}<li><a href="{% url 'project:userstory_delete'  userstory.id %}" class="fa fa-eraser"> Delete</a></li>{% endif %}
    </ul>
    <p><strong>Proyecto Asociado:</strong> {{ userstory.proyecto }}</p>
    <div class="row">
        <div class="col-lg-6">
            <div class="well">
                <p><strong>Nombre: </strong>{{ userstory.nombre }}</p>
                <p><strong>Estado: </strong>{{ userstory.get_estado_display }}</p>
                <p><strong>Prioridad: </strong>{{ userstory.prioridad }}</p>
                <p><strong>Valor de negocio: </strong>{{ userstory.valor_negocio }}</p>
                <p><strong>Valor Técnico: </strong>{{ userstory.valor_tecnico }}</p>
                <p><strong>Último cambio: </strong>{{ userstory.ultimo_cambio }}</p>
                <p><strong></strong></p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="well well-sm">
                    <h4>Descripción</h4>
                    <p>{{ userstory.descripcion }}</p>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <span class="fa fa-clock-o"> Tiempos</span>
                    </div>
                    <div class="panel-body">
                        <p><strong>Tiempo Estimado (horas): </strong>{{ userstory.tiempo_estimado }}</p>
                        <p><strong>Tiempo registrado (horas): </strong>{{ userstory.tiempo_registrado }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p><a class="fa fa-step-backward" href="{% url 'project:userstory_list' userstory.proyecto.id %}"> Volver a User Stories</a></p>

{% endblock %}
