{% extends 'project/base.html' %}
{% load staticfiles %}
{% block title %}Plantillas{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'project:home' %}">Home</a></li>
    <li class="active">Plantillas</li>
{% endblock %}

{% block header %}Plantillas{% endblock %}
{% block content %}
    {% if perms.project.add_flow_template %}<p><a href="{% url 'project:plantilla_add' %}" class="fa fa-plus-circle"> Agregar</a></p>{% endif %}
<div class="dataTable_wrapper">
    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Actividades</th>
                <th>Ver</th>
                {% if perms.project.change_flow_template %}<th>Editar</th>{% endif %}
                 {% if perms.project.delete_flow_template %}<th>Eliminar</th>{% endif %}
            </tr>
        </thead>
        <tbody>
            {% for p in plantillas %}
            <tr class="odd gradeX">
                <td>{{ p.nombre }}</td>
                <td>{{ p.actividad_set.count }}</td>
                <td ><a href="{% url 'project:plantilla_detail' p.id %}"><i class="fa fa-eye fa-fw"></i></a> </td>
                {% if perms.project.change_flow_template %}<td><a href="{% url 'project:plantilla_update' p.id %}"><i class="fa fa-pencil fa-fw"></i></a></td>{% endif %}
                {% if perms.project.delete_flow_template %}<td><a href="{% url 'project:plantilla_delete' p.id %}"><i class="fa fa-trash-o fa-fw"></i></a></td>{% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<!-- /.table-responsive -->
{% endblock %}

{% block extra_js %}
    <!-- DataTables JavaScript -->
    <script src="{% static 'bower_components/datatables/media/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js' %}"></script>
{% endblock %}