{% extends 'project/base.html' %}
{% block title %}Eliminar Plantilla{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'project:home' %}">Home</a></li>
    <li><a href="{% url 'project:plantilla_list' %}">Plantillas</a></li>
    <li><a href="{% url 'project:plantilla_detail' object.id %}">{{ object }}</a></li>
    <li class="active">Eliminar</li>
{% endblock %}

{% block header %}{{ object }} {% endblock %}
{% block content %}
<form action="" method="post" role="form">
    {% csrf_token %}
    <div class="form-group">
        <p>Seguro de que desea eliminar la Plantilla <strong>{{ object }}</strong>?</p>
    </div>

    <input type="submit" value="Confirmar" class="btn btn-default"/>
</form>
{% endblock %}