{% extends 'project/base_table_js.html' %}
{% load guardian_tags %}
{% block title %}{{ user_story }} - Adjuntos{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'project:home' %}">Home</a></li>
    <li><a href="{% url 'project:project_list' %}">Proyectos</a></li>
    <li><a href="{% url 'project:project_detail' user_story.proyecto_id %}">{{ user_story.proyecto }}</a></li>
    <li><a href="{% url 'project:product_backlog' user_story.proyecto_id %}">User Stories</a></li>
    <li><a href="{% url 'project:userstory_detail' user_story.id %}">{{ user_story }}</a></li>
    <li class="Active">Adjuntos</li>
{% endblock %}

{% block header %}{{ user_story }}: Adjuntos{% endblock %}

{% block before_table %}
    {% get_obj_perms user for user_story.proyecto as "proyecto_perms" %}
    {% get_obj_perms user for user_story as "us_perms" %}
    {% if "edit_userstory" in proyecto_perms or 'edit_my_userstory' in us_perms%}<a href="{% url 'project:file_upload' user_story.id %}"><i class="fa fa-upload"></i> Subir archivo</a>{% endif %}
{% endblock %}

{% block thead %}
    <tr>
        <th>Nombre</th>
        <th>Fecha de Creacion</th>
        <th>Ver</th>
    </tr>
{% endblock %}

{% block tbody %}
    {% for a in adjuntos %}
        <tr>
            <td>{{ a.nombre }}</td>
            <td>{{ a.creacion|date }}</td>
            <td><a href="{% url 'project:file_detail' a.id %}"><i class="fa fa-eye"></i></a></td>
        </tr>
    {% endfor %}
{% endblock %}